default_language_version:
    python: python3.8
fail_fast: false
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-builtin-literals
    -   id: check-ast
    -   id: check-json
    -   id: detect-private-key
    # -   id: pretty-format-json
    #     args: [--autofix, --indent 4]
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

-   repo: https://github.com/psf/black
    rev: '22.3.0'
    hooks:
      - id: black

-   repo: https://github.com/pycqa/isort
    rev: '5.10.1'
    hooks:
      - id: isort

-   repo: https://github.com/PyCQA/autoflake.git
    rev: v1.4
    hooks:
        - id: autoflake
          args: ['--recursive', '--in-place', '--remove-all-unused-imports', '--ignore-init-module-imports']

-   repo: local
    hooks:
      - id: readmegen
        name: readmegen
        description: >-
          Script to automatically generate readme.md
        entry: python ./.utils/utils.py makereadme
        language: python
        additional_dependencies:
          - babel~=2.9.0
          - tabulate~=0.8.9
          - click
        always_run: true
        pass_filenames: false
        require_serial: true
        verbose: true
